<h4><i class="fas fa-users"></i> <span class="blue-text text-darken-2">Settings Page</span></h4>
<div class="section">
    <p class="lead">Update your settings information</p>
</div>
<div class="divider"></div>