<nav class="red lighten-2">
    <div class="nav-wrapper container-fluid">
        <a href="#!" class="brand-logo center">Mercuryio</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">            
            <li><a href="/dashboard"><i class="fas fa-chart-line"></i>Dashboard</a></li>
            <li><a href="/events"><i class="fas fa-baseball-ball"></i>My Events</a></li>
            <li><a href="/profile"><i class="fas fa-users"></i>My Profile</a></li>
            <li><a href="/settings"><i class="fas fa-cogs"></i>Settings</a></li>
            <li><a href="/categories"><i class="fas fa-cogs"></i>Interests</a></li>
            <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>            
        </ul>
    </div>
</nav>