  <div class="menu-wrap">
  <input type="checkbox" class="toggler" />
  <div class="hamburger"><div></div></div>
  <div class="menu">
    <div>
      <div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="/auth/linkedin">Login</a></li>
          <li><a href="#">Mercuryio v0.0.1</a></li>          
        </ul>
      </div>
    </div>
  </div>
  </div>

  <section class="showcase">
  <div class="container showcase-inner">
      <div class="video-container">
          <video src="/assets/video/video.mp4" autoplay muted loop></video>
      </div>
      
      <div class="content">
          <h1>Shoot for the Stars</h1>
          <h3>Hire a professional public speaker today for your next online or in-person event.</h3>
          <a href="#about" class="btn">Read More</a>
      </div>        
  </div>
  </section>

  <!-- About Section -->
  <section id="about">
  <h1>About</h1>
  <p>
      <span class="blue-text text-darken-2">Mercuryio</span></h4> is an online marketplace for Public Speakers and for Event Organizers. Here at Mercuryio we have some of 
      the world's top rated professional Public Speakers and Event Organizers. <br>
      <br>If you are an Event Organizer you needn't 
      go through the hassle of time consuming searches to find a qualified and reputable public speaker for your 
      online or in-person event. We screen all Public Speakers and have a unique ratings system to ensure that 
      your hosted event has the best quality Public Speakers.
      We pride ourselves on choosing the most experienced and talented individuals who you can rely on and trust.<br>

      <br>As a Public Speaker, our AI driven matching algorithms will ensure that you only find events that are tailor 
      made for your talents and experience. Once you have setup and created your profile, we will match you
      based on your experience and interests. <br>
      <br>Create your profile on Mercuryio today and let us do the rest!

  </p>
  </section>
  <!-- About Section -->

  <!-- Pricing Section -->

  <!-- About Section -->
  <section id="pricing">
  <h1>Pricing</h1>
  <p>
      <span class="blue-text text-darken-2">Mercuryio</span></h4> is an online marketplace for Public Speakers and for Event Organizers. Here at Mercuryio we have some of 
      the world's top rated professional Public Speakers and Event Organizers. <br>
      <br>Pricing Coming Soon!

  </p>
  <h2>Follow Us On Social Media</h2>
  <div class="social">
      <a href="https://twitter.com/yattishr" target="_blank"><i class="fab fa-twitter fa-3x"></i></a>
      <a href="https://facebook.com/yattishr" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>
      <a href="https://github.com/yattishr" target="_blank"><i class="fab fa-github fa-3x"></i></a>
      <a href="http://za.linkedin.com/in/yattishramhorry" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
  </div>  
  </section>
  <!-- About Section -->

  <!-- Pricing Section -->