<h3><i class="fas fa-book-reader"></i> Speakers Book</h3>
<div class="section">
    <p class="lead">A simple application for the booking of public speakers for in-person conferences and online events.</p>
</div>
<div class="divider">

</div>
<div class="section">
    <a href="/auth/linkedin" class="btn blue darken-2">
        <i class="fab fa-linkedin left"></i>Login With LinkedIn
    </a>
</div>
